body {
   background-color:blanchedalmond;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.svg
{
    
}
.div {
    display: block;
    background-color: transparent;
    position: sticky;
}
*, ::after, ::before {
    box-sizing: border-box;
}
