* {
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
   background-color: cadetblue;
   box-sizing: border-box;
}
li,a,button
{
    font-family:Verdana,  Tahoma, sans-serif;
    font-weight: 300;
    font-size:17px;
    color:#edf0f1;
    text-decoration: none;
}
header
{
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 10%;
}
.logo{
    width:150;
    height:130px;
}
